table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  *{box-sizing:border-box;}
  
  body {
    font-family: 'Arial';
  }
  
  form{
  width:500px;
  padding:16px;
  border-radius:10px;
  margin:auto;
  background-color:#ccc;
  }
  
  form label{
  width:100%;
  font-weight:bold;
  display:inline-block;
  }
  
  form input, form select{
  width: 100%;
  padding:3px 10px;
  border:1px solid #f6f6f6;
  border-radius:3px;
  background-color:#f6f6f6;
  margin:8px 0;
  display:inline-block;
  }
  
  form input[type="submit"]{
  width:100%;
  padding:8px 16px;
  margin-top:32px;
  border:1px solid #000;
  border-radius:5px;
  display:block;
  color:#fff;
  background-color:#000;
  } 
  
  form input[type="submit"]:hover{
  cursor:pointer;
  }
  
  .acciones {
  display: flex;
    justify-content: center;
    align-items: center;
  }